@model Career

<div class="card w-100 mt-3">
  <div class="card-body">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text">Id: @Model.Id</p>
    <p class="card-text">Short Description: @Model.ShortDesc</p>
    <p class="card-text">Long Description: @Model.LongDesc</p>
    <p class="card-text">Location: @Model.Location</p>
    <p class="card-text">Link: @Model.Link</p>
    <p class="card-text">Date: @Model.StartDate - @Model.EndDate</p>
    <a asp-controller="Career" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-controller="Career" asp-action="List" class="btn btn-primary">Back to List</a>

    <form asp-controller="Career" asp-action="Remove" asp-route-id="@Model.Id" class="d-inline"
        onclick="return confirm('Are you sure you want to delete @Model.Name?')">
        <button type="submit" class="btn btn-primary">Remove</button>
    </form>
  </div>
</div>