@model HomeViewModel

    <div id="block-1">
        <div class="container">
            @foreach (var item in @Model.Person)
            {
                <h1>@item.Name</h1>
            }
            <p>Interactive resume</p>
        </div>
        <div class="overlay"></div>
        <a href="#block-2" class="icon-down-arrow-a">
            <i class="fas fa-angle-down icon-down-arrow"></i>
        </a>
    </div>

    <nav class="navigation">
        <div class="div">
            <ul class="navbar-nav">
                <li>
                    <a href="#block-2" class="menuItem active">Profile</a>
                </li>
                <li>
                    <a href="#block-3" class="menuItem">Experiences</a>
                </li>
                <li>
                    <a href="#block-4" class="menuItem">Abilities</a>
                </li>
                <li>
                    <a href="#block-5" class="menuItem">Projects</a>
                </li>
                <li>
                    <a href="#block-6" class="menuItem">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="block-2" class="profile navItem">
        <div class="container">
            <div class="row text-center">
            @foreach (var item in @Model.Person)
            {
                <h2 class="header-h2 ">Profile</h2>
                <p class="header-p">@item.JobDesc</p>
                <hr class="hr-bottom-border">
            }
            </div>
            @foreach (var item in @Model.Person)
            {
            <div class="row d-flex profile-d-flex">
                <div class="profile-col col-4">
                    <h3>About me</h3>
                    <p class="text-col">@item.AboutMe</p>
                </div>
                <div class="profile-col profile-col-img col-4">
                    <figure>
                        <img src="@Url.Content("~/image/"+@item.Image.Name)" asp-append-version="true" alt="...">
                    </figure>
                </div>
                <div class="profile-col col-4 mar-left-10">
                    <h3>Details</h3>
                    <p> <div class="font-bold mar-bottom-5">Name:</div>
                        <div class="mar-bottom-10">@item.Name</div>
                        <div class="font-bold mar-bottom-5">Age:</div>
                        <div class="mar-bottom-10">@item.Age years</div>
                        <div class="font-bold mar-bottom-5">Location:</div>
                        <div class="mar-bottom-10">@item.Location</div>
                    </p>
                </div>
            </div>
            }
            <div class="row">

            </div>
        </div>
    </div>
    

<div id="block-3" class="navItem">

        <div class="container">

            <h2 class="header-h2 ">Experiences</h2>
            <p class="header-p">“Protons give an atom its identity, electrons its personality.”
            <br>
            - Bill Bryson, A short history of nearly everything</p>
                    
            
            <hr class="hr-bottom-border">

           
            
            <div class="row education-sec">
                <h3 class="mar-bottom-20">Educations</h3>

                <div class="education-box">
                    @foreach (var item in @Model.Educations)
                    {
                    <div class="education-box-mini d-flex">
                       
                        <div class="col-4">
                            <h4>@item.Name</h4>
                            <p class="font-size-15">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(@item.StartDate.Month) @item.StartDate.Year - @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(@item.EndDate.Month) @item.EndDate.Year</p>
                        </div>

                        <div class="col-8">
                            <p>
                                <p class="font-bold mar-bottom-10">
                                    @item.ShortDesc
                                </p>
    
                                <p class="mar-bottom-10 font-size-15 edu-long">
                                    @item.LongDesc
                                </p>
    
                                <span class="location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    @item.Location
                                </span>
                        </p>
                        </div>
                    </div>
                    }
                </div>
                <hr class="hr-bottom-border">
            </div>
            

            
            <div class="row careers-sec">

                <h3 class="mar-bottom-20">Careers</h3>

                <div class="careers-box">
                    @foreach (var item in @Model.Careers)
                     {
                    <div class="careers-box-mini d-flex">

                        <div class="col-4">
                            <h4>@item.Name</h4>
                            <p class="font-size-15">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(@item.StartDate.Month) @item.StartDate.Year - @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(@item.EndDate.Month) @item.EndDate.Year</p>
                        </div>

                        <div class="col-8">
                            <p>
                                <p class="font-bold mar-bottom-10">
                                    @item.ShortDesc
                                </p>
    
                                <p class="mar-bottom-10 font-size-15 car-long">
                                    @item.LongDesc
                                </p>
                                <span>
                                    <span class="location">
                                        <i class="fas fa-map-marker-alt"></i>
                                        @item.Location 
                                    </span>
                                    <span>|</span>
                                    <span>
                                         <a href="@item.Link">
                                             <i class="fas fa-link"></i>
                                         </a> 
                                    </span>
                                </span>
                            </p>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        </div>

    @{int rowNumber1 = 0;}
    @{int rowNumber2 = 0;}
    <div id="block-4" class="navItem">
        <div class="container">

            <h2 class="header-h2 ">Abilities</h2>
            <p class="header-p">“Life without knowledge is death in disguise.” <br>
                - Talib Kweli</p>

            <hr class="hr-bottom-border">
            <div class="row">
                <div class="row">
                    <h3>Skills</h3>
                </div>
                <div class="row d-flex lang-row">
                    <div class="col-6 pad-r-l-15 pad-l-0">
                        <ul>
                            @foreach (var item in @Model.Skills)
                            {
                            rowNumber1++;
                                @if (@rowNumber1 % 2 != 0)
                                {
                                    <li class="d-flex">
                                    <span class="ability-name">
                                        @item.Name  
                                    </span>
                                    <span class="ability-star">
                                        @for (var i = 0; i < @item.Level; i++)
                                        {
                                            <i class="fas fa-star filled"></i>
                                        }
                                        @for(var i = 0; i < 5 - @item.Level; i++)
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                    </span>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="col-6 pad-r-l-15 pad-l-0">
                        <ul>
                            @foreach(var item in @Model.Skills)
                            {
                            rowNumber2++;
                                @if(@rowNumber2 % 2 == 0)
                                {
                                    <li class="d-flex">
                                    <span class="ability-name">
                                        @item.Name
                                    </span>
                                    <span class="ability-star">
                                        @for (var i = 0; i < @item.Level; i++)
                                        {
                                            <i class="fas fa-star filled"></i>
                                        }
                                        @for(var i = 0; i < 5 - @item.Level; i++)
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                    </span>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <h3>Languages</h3>
                </div>
                <div class="row d-flex lang-row">
                    <div class="col-6 pad-r-l-15 pad-l-0">
                        <ul>
                            @foreach (var item in @Model.Languages)
                            {
                            rowNumber1++;
                                @if (@rowNumber1 % 2 != 0)
                                {
                                    <li class="d-flex">
                                    <span class="ability-name">
                                        @item.Name  
                                    </span>
                                    <span class="ability-star">
                                        @for (var i = 0; i < @item.Level; i++)
                                        {
                                            <i class="fas fa-star filled"></i>
                                        }
                                        @for(var i = 0; i < 5 - @item.Level; i++)
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                    </span>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="col-6 pad-r-l-15 pad-l-0">
                        <ul>
                            @foreach(var item in @Model.Languages)
                            {
                            rowNumber2++;
                                @if(@rowNumber2 % 2 == 0)
                                {
                                    <li class="d-flex">
                                    <span class="ability-name">
                                        @item.Name
                                    </span>
                                    <span class="ability-star">
                                        @for (var i = 0; i < @item.Level; i++)
                                        {
                                            <i class="fas fa-star filled"></i>
                                        }
                                        @for(var i = 0; i < 5 - @item.Level; i++)
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                    </span>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="block-5" class="navItem">
        <div class="container">
            <div class="row">
                <h2 class="header-h2 ">Projects</h2>
                <p class="header-p">“You can do anything you set your mind to.” <br>
                    - Benjamin Franklin</p>
            </div>

            <hr class="hr-bottom-border">
            @foreach (var item in @Model.Projects)
            {
            <div class="row d-flex d-in-media">
                <div class="col-6">
                    
                    <figure class="fig-pro-img">
                        <img src="@Url.Content("~/image/"+@item.Image.Name)" alt="">
                        <figcaption>
                            <h3 class="font-bold fff">
                                @item.Name
                            </h3>
                            <p class="fff"> 
                                
                            </p>
                            <p class="fff pad-t-20">
                                @item.Desc
                                <br>
                                
                            </p>
                            <a href="@item.Link" target="_blank"></a>
                            <span class="icon">
                                <i class="fas fa-external-link-alt"></i>
                            </span>
                        </figcaption>
                    </figure>
                    
                </div>
                <div class="col-6 mar-left-10 tech">
                    <h2>Technology used:</h2>
                    <p>
                        @item.UsedTech
                    </p>

                    <ul>
                        
                    </ul>
                </div>
            </div>
            }
        </div>
    </div>


    <div id="block-6" class="navItem">
    <div class="container"> 
        <div class="row">
            <h2 class="header-h2-contact">Contact</h2>
            <p class="header-p-contact">“If I had asked people what they wanted, they would have said faster horses. ”
                <br>
                - Henry Ford
            </p>
        </div>
        <hr class="hr-bottom-border-contact">
        <div class="row row-2 d-flex">
            <div class="col-6 mar-top-20">
                <ul>
                    <li> 
                        <a href="https://github.com/chingizagha" class="d-flex">
                            <i class="fab fa-github-square"></i><p>https://github.com/chingizagha</p> 
                        </a>
                    </li>
                    <li> 
                        <a href="https://twitter.com/CingizAga" class="d-flex">
                            <i class="fab fa-twitter-square"></i> <p>https://twitter.com/CingizAga</p> 
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 mar-top-20">
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/chingiz-agha/" class="d-flex">
                          <i class="fab fa-linkedin"></i> <p>https://www.linkedin.com/in/chingiz-agha/</p> 
                        </a>
                    </li>
                    <li>
                        <a href="https://www.cingiz167@gmail.com" class="d-flex">
                           <i class="fas fa-envelope"></i> <p>cingiz167@gmail.com</p> 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="hr-bottom-border-contact">
        <div class="row">
        </div>
    </div>
</div>
